@import "tailwindcss";

/* THESE ARE THE VARIABLES THAT YOU CAN CHANGE TO CHANGE THE COLOR SCHEME AND STUFF */
:root {
  --background: white;
  --accent-background: #002860;
  --accent-background-2: #0345a0;

  --foreground: #d70026;
  --foreground-2: #a70825;

  --button-color: #ffd8c4;
  --button-color-2: #ffc6a9;
  --button-color-3: #e6aa8c;

  --font-color: black;

  --primary-font: var(--font-poppins);
  --secondary-font: var(--font-raleway);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--font-color);
  font: var(--primary-font);
}

.btn.pop-text {
  padding: 8px 16px;
  color: var(--foreground);
  font: var(--secondary-font);
  font-weight:1000;
  border-radius: 15px;
  font-size:20px;
}


/* YO AIDEN THIS IS THE CSS YOU GOTTA CHANGE
ITS LOWK NOT THAT HARD ITS PRETTY SELF EXPLANATORY */

/* THIS IS THE BUTTON CSS */
.btn {
  padding: 8px 16px;
  margin: 5px;
  white-space: nowrap;
  background: var(--button-color);
  color: var(--foreground);
  font: var(--secondary-font);
  font-weight:700;
  transition: transform 0.1s ease;
  border-radius: 15px;
}

.btn:hover {
  background: var(--button-color-2);
  cursor: pointer;
  color: var(--foreground);
  transform: scale(1.01);
  /*box-shadow: 5 5 20 5 #d3d3d3;*/

}

.btn:active {
  background: var(--button-color-3);
  color: var(--foreground);
  transform: scale(0.99);
}


/* THIS IS THE TEXT GROUP CSS */
.text-group {
  background: var(--foreground-2);
  padding: 10px;
  max-width: 200px;
  margin: 10%;
  border-radius: 15px;
}

.text-group-header {
  font: var(--primary-font);
}

.text-group-line {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-group-body {
  font: var(--secondary-font);
}

/* NAVBAR STUFF */

.navbar {
  width: 100%;
  background: var(--button-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-brand {
  display: flex;
  gap: 10px;
}

.nav-title {
  font: var(--primary-font);
  color: var(--foreground);
  font-size: 50px;
}

.nav-logo-wrap {
  position: relative;
  width: 100px;
  height: 75px;
}

.nav-logo {
  object-fit: contain;
}

.nav-links {
  font: var(--secondary-font);
  margin-right: 10px;
  margin-left: auto;
  display: flex;
  gap: 10px;
  font: var(--font-color);
}

.nav-padding {
  padding-top: 80px;
  box-sizing: border-box;
}

/*Login Page*/

.signup-inputs {
  padding: 10px 10px;
  border-radius: 10px;
  max-width: 280px;
  background-color:#ffd8c4;
  margin: 0px 50px;
  width:100%
}

.half-input {
  max-width:135px;
  background-color:#ffd8c4;
  padding: 10px 10px;
  border-radius: 10px;
  width:100%
}

.login-container {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  gap: 30px;                
}

.name-row {
  display: flex;
  flex-direction: row;        
  justify-content: center;             
  gap: 10px;           
  max-width: 300px;
  width: 100%;  
}

/*landing page*/
.hero-section {
  /* LAYER 1: The Sky */
  background-color: #ffc6a9; 
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summit-title {
  position: absolute;
  z-index: 1; 
  left: 50%;
  transform: translateX(-67%); 
  top: auto; 
  bottom: 45vw;
  bottom: clamp(150px, 45vw, 50vh);
  font-family: var(--primary-font);
  font-size: clamp(6rem, 18vw, 15rem); 
  font-weight: 500;
  color: var(--foreground);
  margin: 0;
  white-space: nowrap;
  opacity: 0; 
  animation: floatUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.mountain-foreground {
  position: aboslute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 50vh;
  object-fit: cover;
}

.content-card {
  background: var(--background);
  position: relative;
  z-index: 10;
  padding: 20px 20px 60px 20px;
  min-height: 100vh;
  margin-top: -20vh;
  
  /* Card Animation Setup */
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.content-card::before {
  content: '';
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 151px;
  background: linear-gradient(to bottom, transparent, var(--background));
  pointer-events: none;
}

.content-card.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes floatUp {
  from { 
    opacity: 0; 
    transform: translateX(-50%) translateY(-30px); /* Keep X centered, move Y down */
  }
  to { 
    opacity: 1; 
    transform: translateX(-50%) translateY(0);    /* Keep X centered, move Y to 0 */
  }
}