@import "tailwindcss";

:root {
  --background: white;
  --accent-background: #002860;
  --foreground: #d70026;
  --second-foreground: #a70825;
  --primary-font: --font-poppins;
  --secondary-font: --font-raleway;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font: var(--primary-font);
}

button {
  padding: 1%;
  background: var(--foreground);
  margin: 5%;
  color: var(--background);
}

button:hover {
  background: var(--second-foreground);
}

