@import "tailwindcss";

/* THESE ARE THE VARIABLES THAT YOU CAN CHANGE TO CHANGE THE COLOR SCHEME AND STUFF */
:root {
  --background: white;
  --accent-background: #002860;
  --accent-background-2: #0345a0;

  --foreground: #d70026;
  --foreground-2: #a70825;

  --button-color: #ffd8c4;
  --button-color-2: #ffc6a9;
  --button-color-3: #e6aa8c;

  --font-color: black;

  --primary-font: --font-poppins;
  --secondary-font: --font-raleway;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--font-color);
  font: var(--primary-font);
}

/* YO AIDEN THIS IS THE CSS YOU GOTTA CHANGE
ITS LOWK NOT THAT HARD ITS PRETTY SELF EXPLANATORY */

/* THIS IS THE BUTTON CSS */
button {
  padding: 8px 16px;
  margin: 5px;
  white-space: nowrap;
  background: var(--button-color);
  color: var(--foreground);
  font: var(--secondary-font);
  font-weight:700;
  transition: transform 0.1s ease;
  border-radius: 15px;
}

button:hover {
  background: var(--button-color-2);
  cursor: pointer;
  color: var(--foreground);
  transform: scale(1.01);
  /*box-shadow: 5 5 20 5 #d3d3d3;*/

}

button:active {
  background: var(--button-color-3);
  color: var(--foreground);
  transform: scale(0.99);
}


/* THIS IS THE TEXT GROUP CSS */
.text-group {
  background: var(--foreground-2);
  padding: 10px;
  max-width: 200px;
  margin: 10%;
}

.text-group-header {
  font: var(--primary-font);
}

.text-group-line {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-group-body {
  font: var(--secondary-font);
}

/* NAVBAR STUFF */

.navbar {
  width: 100%;
  background: var(--button-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-brand {
  display: flex;
  gap: 10px;
}

.nav-title {
  font: var(--primary-font);
  color: var(--foreground-2);
  font-weight: bold;
}

.nav-logo-wrap {
  position: relative;
  width: 100px;
  height: 75px;
}

.nav-logo {
  object-fit: contain;
}

.nav-links {
  margin-right: 10px;
  margin-left: auto;
  display: flex;
  gap: 10px;
}