@import "tailwindcss";

/* THESE ARE THE VARIABLES THAT YOU CAN CHANGE TO CHANGE THE COLOR SCHEME AND STUFF */
:root {
  --background: white;
  --accent-background: #002860;
  --accent-background-2: #0345a0;
  --foreground: #d70026;
  --foreground-2: #a70825;
  --font-color: white;
  --primary-font: --font-poppins;
  --secondary-font: --font-raleway;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--font-color);
  font: var(--primary-font);
}

/* YO AIDEN THIS IS THE CSS YOU GOTTA CHANGE
ITS LOWK NOT THAT HARD ITS PRETTY SELF EXPLANATORY */

/* THIS IS THE BUTTON CSS */
button {
  padding: 1%;
  background: var(--accent-background);
  margin: 5%;
  color: var(--font-color);
}

button:hover {
  background: var(--accent-background-2);
  cursor: pointer;
}

button:active {
  background: var(--foreground);
}


/* THIS IS THE TEXT GROUP CSS */
.text-group {
  background: var(--foreground-2);
  padding: 10px;
  max-width: 200px;
  margin: 10%;
}

.text-group-header {
  font: var(--primary-font);
}

.text-group-line {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-group-body {
  font: var(--secondary-font);
}